* {

    border:solid red;
}

html{
    
    
}


body {

box-sizing:border-box;
margin:0;

min-height:100vh;
    
display:  flex;
flex-direction:column;

}
header {

    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

.sec-one {

    display:flex;
    flex:1;
}

.website-awesome {

    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.awesome-image {

    display:flex;
    flex:1;

    align-items:center;
    justify-content:center;

}

#awe-image {
flex:0 0 500px;
}

.sec-two {
    display:flex;
    align-items: center; 
    flex-direction:column;
    flex:1;
}


.sec-two-images{

    display:flex;
    align-items:center;
    flex-direction:column;


    

}

.mid-image {

    max-width:100px;
    max-height:100px;


}

    #image-container {

        display:flex;

}

    .sec-two-text{

        display:flex;
    

    }
    


.sec-three{

    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:space-around;
    justify-content:center;

    flex:1;
    
}

#quote-speaker{

    margin-left: 100px;

}



.sec-four{

    display:flex;
    flex:1;
    justify-content:center;


}

      

.sign-up.container {
    flex:0 0 50%;
    align-items:center;
    display:flex;
    justify-content: space-evenly;
   
}


.sign-up.container.text {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

footer {

    display:flex;
    justify-content:center;
    align-items: center;



    flex:1
}