* {

    border:solid red;
}

html{
    
    
}


body {

flex-wrap:wrap;

box-sizing:border-box;
margin:0;

min-height:100vh;
    
display:  flex;
flex-direction:column;



}
header {
    background-color:rgb(59 112 60) ;
    flex-basis:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

.header{

    display:flex;
}
 
    
    

.top-link {

    font-family: SNOT, "times new roman", sans-serif;
     font-size: xx-large;
   text-decoration:none;
   -webkit-text-stroke: rgb(231, 231, 10);
   -webkit-text-stroke-width: 1px;
    color:rgb(182, 182, 17);
    padding:10px;

}

.sec-one {

    display:flex;
    flex-basis:500px; 
}

.website-awesome {

    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.awesome-image {

    display:flex;
    flex:1;

    align-items:center;
    justify-content:center;

}

#awe-image {
flex:0 0 500px;
}

.sec-two {

    display:flex;
    justify-content:flex-start;
    align-items: center; 
    flex-direction:column;
    flex-basis:500px;
}


.sec-two-images{

    display:flex;
    align-items:center;
    flex-direction:column;


    

}

.mid-image {

    max-width:100px;
    max-height:100px;


}

    #image-container {

        display:flex;

}

    .sec-two-text{

        display:flex;
    

    }
    


.sec-three{

    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-content:space-around;
    justify-content:center;

    flex-basis:400px;
    
}

#quote-speaker{

    margin-left: 100px;

}



.sec-four{

    display:flex;
    flex-basis:300px;
    justify-content:center;


}

      

.sign-up.container {
    flex:0 0 50%;
    align-items:center;
    display:flex;
    justify-content: space-evenly;
   
}


.sign-up.container.text {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

footer {

    display:flex;
    justify-content:center;
    align-items: center;



    flex-basis:100px;
}